@font-face {
    font-family: "Molor-Regular";
    src: url("Molor.eot?") format("eot"), url("Molor.woff") format("woff"), url("Molor.ttf") format("truetype"), url("Molor.svg#Molor-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}